html {
    background-color: #305 !important;
}
.fond {
    background-color: #305 !important;
}
.navbar {
    color: #0aa;
}
.nav-link {
    color: #0aa !important;
}
.nav-link:hover {
    color: #00ffbe !important;
}
.navbar-dark {
    background-color: #406;
}
.navbar-brand {
    color: #0FF !important;
}
.dropdown-menu-dark {
    background-color: #406;
    color: #0AA;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-item {
    color:#0aa !important;
}
.dropdown-item:hover {
    color: #00ffbe !important;
}
.texte {
    background-color: #305;
    color: #0FF
}
.hero-banner {
    position: relative;
    text-align: center;
}
.hero-title, .hero-description {
    position: absolute;
    background-color: #00000000;
    color: #0FF
}
.hero-title {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.background {
    background-color: #406;
}
.sticky-down {
    top: 100%;
    position: sticky;
}
.padding-bottom {
    padding-bottom:5px;
}
.no-margin {
    margin: 0px !important;
}
.transparent.bg {
    background-color: #00000000;
}
.spacing{
    padding-top: 10px;
    padding-bottom: 10px;
}
.big-spacing {
    padding-top: 20px;
    padding-bottom: 20px;
}
a {
    color: #0aa;
}
a:hover {
    color: #00ffbe;
}
.a-like {
    color: #0aa;
    cursor: pointer;
}
.a-like:hover {
    color: #00ffbe;
}
.hidden {
    display: none;
}